<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Base Template</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    {% load static %}
    <script src="{% static "system/main.js" %}"></script>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script>
      $( function() {
        $( ".datepicker" ).datepicker();
      } );
    </script>
  </head>
  <body style="font-family: 'Open Sans', sans-serif;">
    <div>
    {% block content %}{% endblock content %}
    </div>
  </body>
</html>
