{% extends "system/base.html" %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">KPI/Month</th>
            <th scope="col">January</th>
            <th scope="col">February</th>
            <th scope="col">March</th>
            <th scope="col">April</th>
            <th scope="col">May</th>
            <th scope="col">June</th>
            <th scope="col">July</th>
            <th scope="col">August</th>
            <th scope="col">September</th>
            <th scope="col">October</th>
            <th scope="col">November</th>
            <th scope="col">December</th>
          </tr>
        </thead>
        <tbody>
          {% for system in contracted %}
          {% if system.contract_date|date:"m" == 1 and system.contract_date|date:"Y" == current_year %}
          <tr>
            <th scope="row">New Systems (Contract)</th>
            <td>{{ system.count }}</td>
          </tr>
          {% endif %}
          {% endfor %}
          <tr>
            <th scope="row">New Systems (Non-Contract)</th>
            <td>Jacob</td>
          </tr>
          <tr>
            <th scope="row">Lost Contracts</th>
            <td>Larry</td>
          </tr>
          <tr>
            <th scope="row">Total Maintenance Per Month</th>
            <td>Larry</td>
          </tr>
          <tr>
            <th scope="row">Total Maintenance Logged</th>
            <td>Larry</td>
          </tr>
          <tr>
            <th scope="row">Maintenance Hit Rate</th>
            <td>Larry</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
