
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://platform.servicem8.com/sdk/1.0/sdk.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://platform.servicem8.com/sdk/1.0/sdk.js"></script>
    <script type="text/javascript">
      var client = SMClient.init();
      function openNewSystem() {
        window.open("https://warm-earth-88738.herokuapp.com/client/system/", "_blank", "toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=500,width=400,height=500");
      }
      function refreshData() {
        client.invoke("client_systems_event", {'eventResponse': 'refreshData'});
      }
    </script>
    <title>New System</title>
  </head>
  <body style="font-family: 'Open Sans', sans-serif;">
    <ul style="list-style-type:none">
      {% for system in systems %}
      <li><strong>System Type: {{ system.get_system_type_display }}</strong></li>
      <li>Contracted: {{ system.get_contracted_display }}</li>
      <li>Contract Date: {{ system.contract_date }}</li>
      <li>Install Date: {{ system.install_date }}</li>
      <li>Maintenance Interval: {{ system.get_maintenance_interval_display }}</li>
      <li>Monitoring Type: {{ system.get_monitoring_type_display }}</li>
      <li>Monitoring Acct Number: {{ system.monitoring_acct_num }}</li>
      <li>Maintenance Form Setup: {{ system.get_maintenance_form_setup_display }}</li>
      <li>URN Intruder: {{ system.urn_intruder }}</li>
      <li>URN PA: {{ system.urn_pa }}</li>
      <li><button onClick="window.open('https://warm-earth-88738.herokuapp.com/client/system/{{ system.id }}/', '_blank', 'toolbar=yes,scrollbars=yes,resizable=yes,top=200,left=500,width=400,height=500')">Edit System</button></li>
      {% endfor %}
    </ul>
    <button onClick="client.closeWindow();">Close Window</button><br /><br />
    <button onClick="openNewSystem();">New System</button>
  </body>
</html>
