
<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="https://platform.servicem8.com/sdk/1.0/sdk.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script src="https://platform.servicem8.com/sdk/1.0/sdk.js"></script>
    <script type="text/javascript">
      var client = SMClient.init();
    </script>
  </head>
  <body style="margin: 0 10px; font-family: 'Open Sans', sans-serif;">
    <h3><strong><a href="https://warm-earth-88738.herokuapp.com/systems/report/" target="_blank">Performance Report</a></strong></h3>
    <!--<table>
      <caption><strong>Performance</strong></caption>
      <tr>
        <th>Total Jobs</th>
        <th>Total Maintenance Jobs</th>
        <th>Maintenance Hit Rate</th>
        <th>Total Systems w/ Contract</th>
        <th>Total Systems w/out Contract</th>
      </tr>
      <tr>
        <td>{{ total_jobs }}</td>
        <td>{{ total_maintenance_jobs }}</td>
        <td>{{ maintenance_hit_rate|floatformat }}%</td>
        <td>{{ total_clients_contract }}</td>
        <td>{{ total_clients_non_contract }}</td>
      </tr>
    </table>-->
    <table>
      <caption><strong>Systems</strong></caption>
      <tr>
        <th>System Type</th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/A/" target="_blank">Audible</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/M/" target="_blank">Monitored</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/D/" target="_blank">Dualcom</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/DI/" target="_blank">Digi</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/DIP/" target="_blank">Digi Plus</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/DIA/" target="_blank">Digi Air</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/RC/" target="_blank">Redcare Classic</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/RS/" target="_blank">Redcare Secure</a></th>
        <th><a href="https://warm-earth-88738.herokuapp.com/systems/monitoring/N/" target="_blank">None</a></th>
        <th>Total</th>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/AC/" target="_blank">Access Control</a></td>
        <td>{{ access_control_audible }}</td>
        <td>{{ access_control_monitored }}</td>
        <td>{{ access_control_dualcom }}</td>
        <td>{{ access_control_digi }}</td>
        <td>{{ access_control_digi_plus }}</td>
        <td>{{ access_control_digi_air }}</td>
        <td>{{ access_control_redcare_classic }}</td>
        <td>{{ access_control_redcare_secure }}</td>
        <td>{{ access_control_none }}</td>
        <td>{{ access_control_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/AL/" target="_blank">Alarm</a></td>
        <td>{{ alarm_audible }}</td>
        <td>{{ alarm_monitored }}</td>
        <td>{{ alarm_dualcom }}</td>
        <td>{{ alarm_digi }}</td>
        <td>{{ alarm_digi_plus }}</td>
        <td>{{ alarm_digi_air }}</td>
        <td>{{ alarm_redcare_classic }}</td>
        <td>{{ alarm_redcare_secure }}</td>
        <td>{{ alarm_none }}</td>
        <td>{{ alarm_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/CT/" target="_blank">CCTV</a></td>
        <td>{{ cctv_audible }}</td>
        <td>{{ cctv_monitored }}</td>
        <td>{{ cctv_dualcom }}</td>
        <td>{{ cctv_digi }}</td>
        <td>{{ cctv_digi_plus }}</td>
        <td>{{ cctv_digi_air }}</td>
        <td>{{ cctv_redcare_classic }}</td>
        <td>{{ cctv_redcare_secure }}</td>
        <td>{{ cctv_none }}</td>
        <td>{{ cctv_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/DE/" target="_blank">Door Entry</a></td>
        <td>{{ door_entry_audible }}</td>
        <td>{{ door_entry_monitored }}</td>
        <td>{{ door_entry_dualcom }}</td>
        <td>{{ door_entry_digi }}</td>
        <td>{{ door_entry_digi_plus }}</td>
        <td>{{ door_entry_digi_air }}</td>
        <td>{{ door_entry_redcare_classic }}</td>
        <td>{{ door_entry_redcare_secure }}</td>
        <td>{{ door_entry_none }}</td>
        <td>{{ door_entry_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/EL/" target="_blank">Emergency Lights</a></td>
        <td>{{ emergency_lights_audible }}</td>
        <td>{{ emergency_lights_monitored }}</td>
        <td>{{ emergency_lights_dualcom }}</td>
        <td>{{ emergency_lights_digi }}</td>
        <td>{{ emergency_lights_digi_plus }}</td>
        <td>{{ emergency_lights_digi_air }}</td>
        <td>{{ emergency_lights_redcare_classic }}</td>
        <td>{{ emergency_lights_redcare_secure }}</td>
        <td>{{ emergency_lights_none }}</td>
        <td>{{ emergency_lights_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/FA/" target="_blank">Fire Alarm</a></td>
        <td>{{ fire_alarm_audible }}</td>
        <td>{{ fire_alarm_monitored }}</td>
        <td>{{ fire_alarm_dualcom }}</td>
        <td>{{ fire_alarm_digi }}</td>
        <td>{{ fire_alarm_digi_plus }}</td>
        <td>{{ fire_alarm_digi_air }}</td>
        <td>{{ fire_alarm_redcare_classic }}</td>
        <td>{{ fire_alarm_redcare_secure }}</td>
        <td>{{ fire_alarm_none }}</td>
        <td>{{ fire_alarm_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/FE/" target="_blank">Fire Extinguisher</a></td>
        <td>{{ fire_extinguisher_audible }}</td>
        <td>{{ fire_extinguisher_monitored }}</td>
        <td>{{ fire_extinguisher_dualcom }}</td>
        <td>{{ fire_extinguisher_digi }}</td>
        <td>{{ fire_extinguisher_digi_plus }}</td>
        <td>{{ fire_extinguisher_digi_air }}</td>
        <td>{{ fire_extinguisher_redcare_classic }}</td>
        <td>{{ fire_extinguisher_redcare_secure }}</td>
        <td>{{ fire_extinguisher_none }}</td>
        <td>{{ fire_extinguisher_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/KE/" target="_blank">Key Holding</a></td>
        <td>{{ key_holding_audible }}</td>
        <td>{{ key_holding_monitored }}</td>
        <td>{{ key_holding_dualcom }}</td>
        <td>{{ key_holding_digi }}</td>
        <td>{{ key_holding_digi_plus }}</td>
        <td>{{ key_holding_digi_air }}</td>
        <td>{{ key_holding_redcare_classic }}</td>
        <td>{{ key_holding_redcare_secure }}</td>
        <td>{{ key_holding_none }}</td>
        <td>{{ key_holding_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/NC/" target="_blank">Nurse Call</a></td>
        <td>{{ nurse_call_audible }}</td>
        <td>{{ nurse_call_monitored }}</td>
        <td>{{ nurse_call_dualcom }}</td>
        <td>{{ nurse_call_digi }}</td>
        <td>{{ nurse_call_digi_plus }}</td>
        <td>{{ nurse_call_digi_air }}</td>
        <td>{{ nurse_call_redcare_classic }}</td>
        <td>{{ nurse_call_redcare_secure }}</td>
        <td>{{ nurse_call_none }}</td>
        <td>{{ nurse_call_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/R/" target="_blank">Refuge</a></td>
        <td>{{ refuge_audible }}</td>
        <td>{{ refuge_monitored }}</td>
        <td>{{ refuge_dualcom }}</td>
        <td>{{ refuge_digi }}</td>
        <td>{{ refuge_digi_plus }}</td>
        <td>{{ refuge_digi_air }}</td>
        <td>{{ refuge_redcare_classic }}</td>
        <td>{{ refuge_redcare_secure }}</td>
        <td>{{ refuge_none }}</td>
        <td>{{ refuge_total }}</td>
      </tr>
      <tr>
        <td><a href="https://warm-earth-88738.herokuapp.com/systems/system/M/" target="_blank">Miscellaneous</a></td>
        <td>{{ misc_audible }}</td>
        <td>{{ misc_monitored }}</td>
        <td>{{ misc_dualcom }}</td>
        <td>{{ misc_digi }}</td>
        <td>{{ misc_digi_plus }}</td>
        <td>{{ misc_digi_air }}</td>
        <td>{{ misc_redcare_classic }}</td>
        <td>{{ misc_redcare_secure }}</td>
        <td>{{ misc_none }}</td>
        <td>{{ misc_total }}</td>
      </tr>
    </table>
    <table>
      <caption><strong>KPI</strong><br /><small>From job created to task completed</small></caption>
      <tr>
        <th>Average Response Time</th>
        <th>Longest Response Time</th>
        <th>Shortest Response Time</th>
      </tr>
      <tr>
        <td>{{ response_time.job_task_time_difference__avg }}</td>
        <td>{{ response_time.job_task_time_difference__max }}</td>
        <td>{{ response_time.job_task_time_difference__min }}</td>
      </tr>
    </table>
  </body>
</html>
